body 
.container{
    background-image: url('images\\homepage2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
*{
    margin: 0%;
    padding: 0%;
}

#ben{
    padding: 40px; 
    border: 10px;
    width: 300px;
 }
 .menu{
    width: 400px;
    float: left;
    height: 200px;
    position: absolute;
    top: 30px;
 }
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }  
  ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  ul li a:hover{
    color: rgb(255, 252, 252);
  }
.search{
    width: 100x;
    float: right;
    margin-right: 100px;
    color: #ffffff;
    position: absolute;
    top: 1px;
    right: 0px;

}
.srch{
    font-family: 'Times New Roman';
    width: 170px;
    height: 50px;
    background: transparent;
    border: 3px solid #000000;
    margin-top: 0px;
    color: #ffffffb8;
    border-right: 1px;
    font-size: 14px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 100px;
    border-bottom-left-radius: 10px;
}
.btn{
    width: 100px;
    height: 200px;
    background:rgb(255, 255, 255) ;
    border:2px solid #ffffff;
    margin-top: 10px;
    color: #ffffffb8;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
body
{
    margin: 0px;
    padding: 0px;
}
.address
{
    float: right;
    width: 300px;
    position: absolute;
    bottom: 0;
    color: #ffffffb8;
}